body{
	background-color: #2f4050;
}
.col-sm-10{
	background-color: white;
}
/*ul li{
	list-style-type: none;
}*/
ui li a:active{
	color: white;
}
p{
	font-size: 24px;
}
.navbar-nav li{
	font-weight: bold;
	font-family: Bitter.Georgia,Times,"Times New Roman",serif;
	font-size: 1.2em;
}
.line{
 margin-top: -20px;
}